@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

@import 'variables';
@import 'mixins';

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: #369;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    div {
        display: flex;
        justify-content: center;
    }
}

a:not([href]):not([tabindex]) {
    text-decoration: underline;
    color: lighten(#369, 50%);
    cursor: pointer;
    transition: all .25s;

    &:hover {
        text-decoration: underline;
        color: #369;
        cursor: pointer;
    }
}

.expand {
    .content { display: none; }
    transition: all 1s;
    &:hover{
        .content {
            display: block;
        }
    }
}